*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  height: 100%;
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
}

button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  outline: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
}

body.lock {
  overflow: hidden;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

#wrapper .main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.header {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1150px;
  padding: 20px 15px;
  margin: 0 auto;
}

.header__box {
  -ms-flex-preferred-size: 220px;
      flex-basis: 220px;
}

.header__logo {
  width: 100%;
}

.header__burger {
  display: none;
  width: 20px;
}

.header__burger img {
  width: 100%;
}

.menu {
  font-size: 15px;
}

.menu__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  position: relative;
  cursor: pointer;
}

.menu__item:not(:last-child) {
  margin-right: 30px;
  padding-bottom: 4px;
}

.menu__item:not(:last-child)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  background-color: #000;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.menu__item:not(:last-child):hover::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.menu__item_button {
  background-color: #1B1A1A;
  color: #fff;
  border-radius: 14px;
  padding: 10px 20px;
  -webkit-transition: opacity linear 0.2s;
  -o-transition: opacity linear 0.2s;
  transition: opacity linear 0.2s;
}

.menu__item_button:hover {
  opacity: 0.8;
}

.footer {
  background-color: #F7F7F7;
}

.footer__container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__logo-box {
  max-width: 255px;
  margin-bottom: 20px;
}

.footer__logo {
  width: 100%;
}

.footer__powered,
.footer__privacy {
  color: #645C55;
  font-size: 14px;
  line-height: 1.42;
}

.footer__social {
  padding: 0 10px;
  cursor: pointer;
}

.footer__social:hover {
  opacity: 0.8;
}

.btn {
  line-height: 1.5;
  position: relative;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  padding: 5px 10px;
}

.btn__text {
  position: relative;
  z-index: 2;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #1B1A1A;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform linear 0.2s;
  transition: -webkit-transform linear 0.2s;
  -o-transition: transform linear 0.2s;
  transition: transform linear 0.2s;
  transition: transform linear 0.2s, -webkit-transform linear 0.2s;
}

.btn:hover {
  color: #fff;
}

.btn:hover::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.text {
  line-height: 1.5;
  color: #403E3B;
}

.heading-l {
  font-size: 40px;
  line-height: 1.05;
}

.heading-s {
  font-size: 14px;
  line-height: 1.42;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user__img-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 84px;
          flex: 0 1 84px;
  margin-right: 30px;
}

.user__img {
  width: auto;
}

.user__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user__name {
  font-size: 17px;
  color: #1B1A1A;
  line-height: 1.52;
}

.user__status {
  color: #645C55;
  font-size: 14px;
}

.stage {
  width: 33.33%;
  padding: 0 50px;
}

.stage__img {
  display: block;
  margin: 0 auto 15px;
}

.stage__name {
  font-size: 17px;
  line-height: 1.52;
}

.stage__text {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
}

.bg-block {
  height: 600px;
  background-image: url("../img/reeding-house/01.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.bg-block__info {
  position: absolute;
  right: 75px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 285px;
}

.bg-block__owerlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(206, 196, 188, 0.6);
}

.bg-block .info_l {
  left: 60px;
  right: auto;
}

#wrapper {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 1;
}

.main {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fullscreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding-top: 75px;
}

.fullscreen__info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 5px 0px 15px;
}

.fullscreen__img {
  width: 50%;
  background-image: url("../img/fullscreen/01.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.info__container {
  max-width: 510px;
  margin: 0 auto;
}

.info__partners {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.info__title {
  font-size: 64px;
  line-height: 1.09;
  margin-bottom: 18px;
}

.info__text {
  display: block;
  margin-bottom: 40px;
}

.info__btn {
  margin-left: 25px;
}

.firm__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 770px;
  padding: 0 15px;
  margin: 100px auto 128px;
  -webkit-transform: translateX(104px);
      -ms-transform: translateX(104px);
          transform: translateX(104px);
}

.firm__heading {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 265px;
          flex: 1 0 265px;
}

.firm__text-box .text {
  margin-bottom: 10px;
}

.firm__user {
  margin-top: 18px;
}

.reeding-house {
  background-image: url("../img/reeding-house/01.png");
}

.process__container {
  text-align: center;
  max-width: 1200px;
  margin: 100px auto;
  padding: 0 15px;
}

.process__heading {
  margin-bottom: 10px;
}

.process__stage-box {
  margin: 50px -50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.marble-staircase {
  background-image: url("../img/marble-staircase/01.png");
}

.clients {
  background-color: #403E3B;
}

.clients__container {
  max-width: 1170px;
  margin: 100px auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__customers {
  width: 50%;
}

.clients__brands {
  width: 50%;
}

.customers {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customers__heading {
  margin-top: 35px;
}

.customers__name {
  font-size: 32px;
  line-height: 1.18;
}

.customers__text {
  margin-top: 15px;
  font-size: 15px;
  line-height: 1.6;
}

.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -48px 0;
}

.brands__item {
  width: calc(50% - 96px);
  margin: 0 48px;
  padding: 48px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brands__img {
  max-width: 128px;
}

.staircase {
  background-image: url("../img/staircase/01.png");
}

.projects {
  background-color: #F7F7F7;
}

.projects__container {
  max-width: 1165px;
  margin: 120px auto 110px;
  padding: 0 15px;
}

.projects__text {
  margin-top: 15px;
  max-width: 580px;
  font-size: 24px;
  line-height: 1.25;
}

.projects__feature-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 45px 0 55px;
}

.projects__view-box {
  text-align: center;
}

.projects__view {
  line-height: 1.5;
}

.feature {
  width: calc(33.33% - 20px);
  height: 455px;
  margin: 0 10px;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.feature_a {
  background-image: url("../img/featured/01.png");
  margin-left: 0;
}

.feature_b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-image: url("../img/featured/02.png");
  padding: 40px;
}

.feature_c {
  background-image: url("../img/featured/03.png");
  margin-right: 0;
}

.feature__title {
  font-size: 23px;
  line-height: 1.3;
}

.feature__btn {
  color: #fff;
  background-color: #1B1A1A;
  padding: 11px 20px;
  border-radius: 14px;
}

.feature__btn:hover {
  opacity: 0.9;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  margin: 100px auto;
  padding: 0 15px;
}

.team__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 360px;
          flex: 0 0 360px;
  margin-right: 35px;
}

.team__text {
  font-size: 15px;
  line-height: 1.6;
  margin: 15px 0 40px;
}

.team__btn {
  margin-left: 25px;
}

.team__user-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 15px;
}

.team__user {
  width: calc(50% - 10px);
  margin: 0 10px 50px 0;
}

.git {
  background-color: #CEC4BC;
}

.git__container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.git__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 570px;
          flex: 0 0 570px;
}

@media (max-width: 1230px) {
  .bg-block {
    height: 400px;
  }

  .bg-block__owerlay {
    display: block;
  }
}

@media (max-width: 1000px) {
  .firm__container {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 900px) {
  .header {
    background-color: #cec4bc;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
  }

  .header__container {
    display: block;
    padding: 0;
  }

  .header__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    padding: 0 15px;
  }

  .header__burger {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 30px;
    height: 20px;
  }

  .header__burger span {
    width: 100%;
    height: 2px;
    background-color: #000;
    -webkit-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    -webkit-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active::before {
    top: 42%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header__burger.active::after {
    bottom: 50%;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu {
    position: relative;
    top: 0;
    width: 100%;
    height: 0;
    background-color: #fff;
    font-size: 25px;
    -webkit-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    overflow: auto;
  }

  .menu.active {
    height: 100vh;
    padding: 50px 0 20px;
  }

  .menu__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: auto;
  }

  .menu__item {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .menu__item:not(:last-child)::before {
    display: none;
  }

  .menu__item:not(:last-child) {
    margin: 0 0 30px;
    padding-bottom: 0px;
  }

  .stage {
    width: 50%;
    padding: 0 10px 30px;
  }

  .stage__text {
    max-width: 350px;
    margin: 0 auto;
  }

  .fullscreen {
    padding-top: 50px;
    position: relative;
  }

  .fullscreen__info {
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 50px 15px 0;
    background-color: rgba(206, 196, 188, 0.8);
  }

  .fullscreen__img {
    width: 100%;
  }

  .info__title {
    font-size: 60px;
  }

  .info__text {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .process__container {
    margin: 30px auto 0;
    padding: 0 15px;
  }

  .process__stage-box {
    margin: 30px -10px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .clients__container {
    margin: 50px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .clients__customers,
  .clients__brands {
    width: auto;
    max-width: 500px;
  }

  .customers {
    margin-bottom: 50px;
  }

  .customers__heading {
    margin-top: 0;
  }

  .brands {
    margin: 0;
  }

  .brands__item {
    width: calc(50% - 40px);
    margin: 0 20px;
    padding: 0 0 50px;
  }

  .projects__container {
    margin: 50px auto;
  }

  .projects__feature-box {
    display: block;
    margin: 45px 0 55px;
  }

  .feature {
    width: auto;
    height: 455px;
    margin: 15px 0;
  }

  .feature_c {
    background-position: right;
  }

  .team__container {
    display: block;
    max-width: 700px;
    margin: 50px auto 0;
  }

  .team__user {
    display: block;
    text-align: center;
  }

  .team__img-box {
    max-width: 84px;
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  .git__container {
    display: block;
    margin: 50px auto;
  }

  .git__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 570px;
            flex: 0 0 570px;
  }

  .git__title {
    margin-bottom: 20px;
  }
}

@media (max-width: 770px) {
  .firm__container {
    display: block;
    margin: 30px auto;
  }

  .firm__heading {
    margin-bottom: 20px;
  }

  .firm__user {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 600px) {
  .footer__container {
    display: block;
    margin: 30px auto;
  }

  .footer__social-box {
    margin-top: 20px;
  }

  .footer__social {
    padding: 0 20px;
  }
}

@media (max-width: 560px) {
  .info__container {
    max-width: 510px;
    margin: 0 auto;
  }

  .info__partners {
    font-size: 14px;
  }

  .info__title {
    font-size: 40px;
  }

  .info__text {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

@media (max-width: 530px) {
  .heading-l {
    font-size: 35px;
  }

  .bg-block__info {
    width: 220px;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }

  .bg-block .info_l {
    width: 220px;
    left: auto;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }

  .stage {
    width: 100%;
    padding: 0 20px 30px;
  }
}

@media (max-width: 500px) {
  .firm__text-box .text {
    font-size: 14px;
  }

  .projects__container {
    margin: 30px auto;
  }

  .feature {
    height: 300px;
  }

  .feature_b {
    padding: 20px;
  }

  .team__container {
    margin: 30px auto 0;
  }

  .team__text {
    margin: 15px 0;
  }

  .git__container {
    margin: 30px auto;
  }
}